### Take Home Assignment for Week 1 of the Data Science Bootcamp Fall'23

#### 1. Display Fibonacci Series upto 10 terms
###### 0,1,1,2,3,5,8 .....

In [1]:
# Setting the first two numbers in the sequence
n = 0
r = 1

# First 10 numbers in the Fibonacci sequence
for a in range(10):
    print(n, end = ' ')
    n, r = r, n + r

0 1 1 2 3 5 8 13 21 34

#### Display numbers at the odd indices of a list

In [2]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]

# Numbers at odd indices
for i in range(1, len(numbers), 2):
    print(numbers[i], end = ' ')

1 3 5 7 9

#### Print a list in reverse order

In [3]:
numbers.reverse()

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Your task is to count the number of different words in this text
	
	string = """
	ChatGPT has created this text to provide tips on creating interesting paragraphs. 
	First, start with a clear topic sentence that introduces the main idea. 
	Then, support the topic sentence with specific details, examples, and evidence.
	Vary the sentence length and structure to keep the reader engaged.
	Finally, end with a strong concluding sentence that summarizes the main points.
	Remember, practice makes perfect!
	"""

In [4]:
# Sample text
text = """
	ChatGPT has created this text to provide tips on creating interesting paragraphs. 
	First, start with a clear topic sentence that introduces the main idea. 
	Then, support the topic sentence with specific details, examples, and evidence.
	Vary the sentence length and structure to keep the reader engaged.
	Finally, end with a strong concluding sentence that summarizes the main points.
	Remember, practice makes perfect!
	"""

# Preprocess the text
text = text.lower()  # Convert to lowercase
words = text.split()

# Use a set to store unique words
unique_words = set(words)

# Print the result
print("Number of different words:", len(unique_words))

Number of different words: 47

#### Write a function that takes a word as an argument and returns the number of vowels in the word

In [5]:
    
def count_vowels(word):               

    # Define a set of vowels
    vowels = set('AEIOUaeiou')       

    # Setting inital count to 0
    vowel_count = 0                 

    # Running loops to check if the characters in the word exist in the set vowels
    for char in word:
        if char in vowels:
            vowel_count +=1

    return vowel_count          

# Input word
word = 'pneumonoultramicroscopicsilicovolcanoconiosis'

# Calling defined function
number_vowels = count_vowels(word)
print(number_vowels)

20

#### Iterate through the following list of animals and print each one in all caps.

  animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

In [6]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for a in animals:
    print(a.upper(), end = ' ')

TIGER ELEPHANT MONKEY ZEBRA PANTHER

#### Iterate from 1 to 15, printing whether the number is odd or even

In [7]:
for i in range(1,16):
    if i%2 == 1:        # Checking whether remainder is 1 on dividing by 2
        print(i, 'is an odd number')       
    else:
        print(i, 'is an even number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number

#### Take two integers as input from user and return the sum

In [8]:
def sum(n1, n2):
    sum_of_nums = n1 + n2
    return sum_of_nums


# Enter number 1
n1 = 23

# Enter number 2
n2 = 17

addition = sum(n1, n2)

print('Sum of the two numbers is', addition)

Sum of the two numbers is 40

### Additional Challenge - Movie data

In [9]:
# List of movies dictionaries:

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

movies

[{'name': 'Usual Suspects', 'imdb': 7.0, 'category': 'Thriller'},
 {'name': 'Hitman', 'imdb': 6.3, 'category': 'Action'},
 {'name': 'Dark Knight', 'imdb': 9.0, 'category': 'Adventure'},
 {'name': 'The Help', 'imdb': 8.0, 'category': 'Drama'},
 {'name': 'The Choice', 'imdb': 6.2, 'category': 'Romance'},
 {'name': 'Colonia', 'imdb': 7.4, 'category': 'Romance'},
 {'name': 'Love', 'imdb': 6.0, 'category': 'Romance'},
 {'name': 'Bride Wars', 'imdb': 5.4, 'category': 'Romance'},
 {'name': 'AlphaJet', 'imdb': 3.2, 'category': 'War'},
 {'name': 'Ringing Crime', 'imdb': 4.0, 'category': 'Crime'},
 {'name': 'Joking muck', 'imdb': 7.2, 'category': 'Comedy'},
 {'name': 'What is the name', 'imdb': 9.2, 'category': 'Suspense'},
 {'name': 'Detective', 'imdb': 7.0, 'category': 'Suspense'},
 {'name': 'Exam', 'imdb': 4.2, 'category': 'Thriller'},
 {'name': 'We Two', 'imdb': 7.2, 'category': 'Romance'}]

In [10]:
import pandas as pd

#### Write a function that takes a movie dictionary from the above list and return true if imdb rating is greater than 5. Additionally, you can also alter the function to return whether the movie has low, medium or high rating

In [11]:
def categorize_rating(imdb):
    if imdb >= 7:
        return 'High Rating'
    elif imdb >= 4:
        return 'Medium Rating'
    else:
        return 'Low Rating'

def check_and_categorize_movies(movies):
    for movie in movies:
        imdb_rating = movie['imdb']
        is_high_rating = imdb_rating > 5
        rating_category = categorize_rating(imdb_rating)

        print(f"Movie: {movie['name']}")
        print(f"IMDb Rating: {imdb_rating}")
        print(f"IMDb Rating > 5? {is_high_rating}")
        print(f"Rating Category: {rating_category}")
        print()


check_and_categorize_movies(movies)

Movie: Usual Suspects
IMDb Rating: 7.0
IMDb Rating > 5? True
Rating Category: High Rating

Movie: Hitman
IMDb Rating: 6.3
IMDb Rating > 5? True
Rating Category: Medium Rating

Movie: Dark Knight
IMDb Rating: 9.0
IMDb Rating > 5? True
Rating Category: High Rating

Movie: The Help
IMDb Rating: 8.0
IMDb Rating > 5? True
Rating Category: High Rating

Movie: The Choice
IMDb Rating: 6.2
IMDb Rating > 5? True
Rating Category: Medium Rating

Movie: Colonia
IMDb Rating: 7.4
IMDb Rating > 5? True
Rating Category: High Rating

Movie: Love
IMDb Rating: 6.0
IMDb Rating > 5? True
Rating Category: Medium Rating

Movie: Bride Wars
IMDb Rating: 5.4
IMDb Rating > 5? True
Rating Category: Medium Rating

Movie: AlphaJet
IMDb Rating: 3.2
IMDb Rating > 5? False
Rating Category: Low Rating

Movie: Ringing Crime
IMDb Rating: 4.0
IMDb Rating > 5? False
Rating Category: Medium Rating

Movie: Joking muck
IMDb Rating: 7.2
IMDb Rating > 5? True
Rating Category: High Rating

Movie: What is the name
IMDb Rating: 9.2
IMDb Rating > 5? True
Rating Category: High Rating

Movie: Detective
IMDb Rating: 7.0
IMDb Rating > 5? True
Rating Category: High Rating

Movie: Exam
IMDb Rating: 4.2
IMDb Rating > 5? False
Rating Category: Medium Rating

Movie: We Two
IMDb Rating: 7.2
IMDb Rating > 5? True
Rating Category: High Rating

#### Write a function that accepts the entire list of movies and a category and returns the average score for that category.

In [12]:
df_movies = pd.DataFrame(movies) 

df_sorted = df_movies.sort_values(by='category')
df_sorted

                name  imdb   category
1             Hitman   6.3     Action
2        Dark Knight   9.0  Adventure
10       Joking muck   7.2     Comedy
9      Ringing Crime   4.0      Crime
3           The Help   8.0      Drama
4         The Choice   6.2    Romance
5            Colonia   7.4    Romance
6               Love   6.0    Romance
7         Bride Wars   5.4    Romance
14            We Two   7.2    Romance
11  What is the name   9.2   Suspense
12         Detective   7.0   Suspense
0     Usual Suspects   7.0   Thriller
13              Exam   4.2   Thriller
8           AlphaJet   3.2        War

In [13]:
average_imdb_by_category = df_sorted.groupby('category')['imdb'].mean()
    
average_imdb_by_category

category
Action       6.30
Adventure    9.00
Comedy       7.20
Crime        4.00
Drama        8.00
Romance      6.44
Suspense     8.10
Thriller     5.60
War          3.20
Name: imdb, dtype: float64

In [14]:
def average_score_by_category(movies, category):
    # Filter movies by the given category
    category_movies = movies[movies['category'] == category]
    
    # Calculate the average IMDb rating for the category
    average_score = category_movies['imdb'].mean()
    
    return average_score

# Example usage:
category = 'Romance'
average_rating = average_score_by_category(df_movies, category)
print(f'Average IMDb rating for {category}: {average_rating:.2f}')

Average IMDb rating for Romance: 6.44

#### Write a function that accepts the movie list and a category and returns all the movies belonging to that category. Your function should be able to throw an error if that category does not exist

In [16]:
def movies_by_category(movies, category):
    category_movies = [movie for movie in movies if movie['category'] == category]

    if not category_movies:
        print('ERROR : This category does not exist !')
        return None
    return category_movies

input_category = 'Romance'

movies_in_category = movies_by_category(movies, input_category)

if movies_in_category is not None:
    for movie in movies_in_category:
        print(movie['name'])

The Choice
Colonia
Love
Bride Wars
We Two